@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  .custom-button {
    background-color: #604caf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

* {
    /* overflow: hidden; */
    font-family: 'PyeongChangPeace-Bold', sans-serif;
}

#video-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 90vh;
    max-height: 90vh;
    margin: 0;
    color: #ffffff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
}

body a {
    color: inherit;
}

body a:not(:hover) {
    text-decoration: none;
}

body .content {
    overflow: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: calc(100% - 80px);
    z-index: 9;
}

body .content .lyrics {
    padding: 50vh 0;
    min-height: calc(100vh - 80px);
    width: calc(100% - 40px);
    margin: 0 20px;
    text-align: center;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    position: relative;
}

body .content .lyrics>div {
    position: relative;
    font-size: 40px;
    line-height: 80px;
    color: #454545;
    font-weight: bold;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

body .content .lyrics>div.highlighted {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
}

body .player {
    z-index: 10;
    background: #F9F9F9;
    color: #000;
    min-height: 140px;
    max-height: 140px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    outline: none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 30px 0 30px 0;
}

@media (min-width: 310px) and (max-width: 460px) {
    .songs {
        font-size: 10px;
        font-weight: 600;
    }
    body .content .lyrics {
        padding: 50vh 0;
        min-height: calc(100vh - 80px);
        width: calc(100% - 40px);
        margin: 0 10px;
        text-align: center;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        position: relative;
        word-wrap: break-word;
        font-size: 14px;
    }
    body .content .lyrics>div {
        position: relative;
        font-size: 14px;
        line-height: 30px;
        color: #454545;
        font-weight: bold;
        -webkit-transition: all 0.25s;
        word-wrap: break-word;
        transition: all 0.25s;
    }
    body .content .lyrics>div.highlighted {
        color: #fff;
        font-weight: bold;
        word-wrap: break-word;
        font-size: 14px;
    }
    body .player {
        z-index: 10;
        background: #F9F9F9;
        color: #000;
        min-height: 140px;
        max-height: 140px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        outline: none;
        margin-bottom: 20px;
        margin-right: 14px;
        margin-left: 14px;
        border-radius: 30px 0 30px 0;
    }
}

body .player .left {
    width: 200px;
    background-image: url("icon.jpg");
    background-size: cover;
    border-top-left-radius: 30px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7e86bad3;
    z-index: 2;
    cursor: pointer;
}

body .player .right {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

body .player .right .top {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 10px;
}

.songs {
    font-size: 12px;
    font-weight: 600;
}

body .player .right .bottom {
    display: -webkit-box;
    display: flex;
}

body .player .right .bottom video {
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 32px;
    outline: none;
    margin-bottom: 20px;
}

@-webkit-keyframes pop-in {
    0%,
    95% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes pop-in {
    0%,
    95% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes snow-drop {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0.5;
        margin-left: 0;
    }
    10% {
        margin-left: 15px;
    }
    20% {
        margin-left: 20px;
    }
    25% {
        -webkit-transform: translate(0, 166.6666666667px);
        transform: translate(0, 166.6666666667px);
        opacity: 0.75;
    }
    30% {
        margin-left: 15px;
    }
    40% {
        margin-left: 0;
    }
    50% {
        -webkit-transform: translate(0, 333.3333333333px);
        transform: translate(0, 333.3333333333px);
        opacity: 1;
        margin-left: -15px;
    }
    60% {
        margin-left: -20px;
    }
    70% {
        margin-left: -15px;
    }
    75% {
        -webkit-transform: translate(0, 500px);
        transform: translate(0, 500px);
        opacity: 0.5;
    }
    80% {
        margin-left: 0;
    }
    100% {
        -webkit-transform: translate(0, 666.6666666667px);
        transform: translate(0, 666.6666666667px);
        opacity: 0;
    }
}

@keyframes snow-drop {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0.5;
        margin-left: 0;
    }
    10% {
        margin-left: 15px;
    }
    20% {
        margin-left: 20px;
    }
    25% {
        -webkit-transform: translate(0, 166.6666666667px);
        transform: translate(0, 166.6666666667px);
        opacity: 0.75;
    }
    30% {
        margin-left: 15px;
    }
    40% {
        margin-left: 0;
    }
    50% {
        -webkit-transform: translate(0, 333.3333333333px);
        transform: translate(0, 333.3333333333px);
        opacity: 1;
        margin-left: -15px;
    }
    60% {
        margin-left: -20px;
    }
    70% {
        margin-left: -15px;
    }
    75% {
        -webkit-transform: translate(0, 500px);
        transform: translate(0, 500px);
        opacity: 0.5;
    }
    80% {
        margin-left: 0;
    }
    100% {
        -webkit-transform: translate(0, 666.6666666667px);
        transform: translate(0, 666.6666666667px);
        opacity: 0;
    }
}

.fl-fl {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 9184901;
    font-weight: bold;
    font-size: 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.fa {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover {
    right: 0;
}

.fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
}

.float-fb {
    top: 100px;
    background: #709bff;
    font-weight: bold;
}

.float-ig {
    top: 160px;
    background: #bf63ed;
    font-weight: bold;
}

.float-web {
    top: 220px;
    background: #bc8bff;
    font-weight: bold;
}

.float-git {
    top: 280px;
    background: #b87bff;
    font-weight: bold;
}









/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

  
/* 네비게이션 바 스타일 */
#header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transition: padding 0.3s ease;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}



#header {
    display: flex;
    align-items: center;
    width: 800px;
    transition: width 0.3s ease;
}

.logo img {
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: rotate(360deg);
}

.nav-bar {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

/* 네비게이션 바 스타일 */
.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    background-color: #eee;
    color: #000000;
}

.nav-item:hover .ellipse_1 svg circle {
    fill: #333;
}


.bar-right {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#right-divider {
    width: 1px;
    height: 20px;
    background-color: #81a7ff;
    margin: 0 10px;
}

#divider2 {
    width: 1905px;
    height: 2px;
    background-color: #81a7ff;
}

.ellipse_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.ellipse_1 svg circle {
    fill: #81a7ff;
    transition: fill 0.3s ease;
}

/* 모바일 네비게이션 바 스타일 */
#burger-btn {
    display: none;
}

#nav-bar-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
    }

    .nav-bar {
        margin-top: 20px;
        margin-left: 0;
        justify-content: center;
    }

    .bar-right {
        margin-left: 0;
        margin-top: 20px;
    }

    #burger-btn {
        display: block;
        cursor: pointer;
    }

    #burger-btn div {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin-bottom: 5px;
    }

}

  /* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


  .nav-item-container {
    position: relative;
  }
  
  .nav-item {
    display: inline-block;
    position: relative;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .nav-item:hover {
    background-color: #e0e0e0;
  }
  
  .nav-item .ellipse_1 {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .nav-item .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* 원하는 가로 크기로 설정 */
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0; /* 초기에는 투명하게 설정 */
    transition: opacity 0.3s ease; /* 투명도에 대한 transition 효과 추가 */
  }
  
  .nav-item:hover .sub-menu {
    display: block;
    opacity: 1; /* 호버 시 투명도를 1로 설정하여 서서히 나오도록 함 */
  }
  
  .nav-item .sub-menu a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
  }
  
  .nav-item .sub-menu a:hover {
    color: #00aeef;
  }